<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.springframework.org/security/tags" lang="it">
	
	<head th:replace="~{fragments/template.html :: header('EIDAS - Risultati Verifica')}"></head>
	
	<body>
		<div th:replace="~{fragments/template.html :: main}"></div>
	
	    <div sec:authorize="hasRole('ROLE_ADMIN')" class="container"
					style="padding-top: 10px; padding-bottom: 10px;">
					<div class="row">
						<div class="col">
							<a href="#" class="btn btn-primary btn-sm fa fa-sign-out" th:href="@{/logout}"> Esci</a>
						</div>					
						<div class="col-sm-2">
							<span class="fa fa-user fa-sm"/> Utente: <strong><span sec:authentication="name"></span></strong>
						</div>
					</div>
		 </div>
	
		<div class="container">
		 <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#" th:href="@{/}" class="fa fa-home fa-sm">
						Home</a></li>
				<li class="breadcrumb-item"><a href="#" th:if="${@environment.getProperty('parer.eidas.validation-ui.enabled') ?: true}" th:href="@{/validation}">Verifica</a></li>
				<li class="breadcrumb-item active" aria-current="page">
					Risultati verifica</li>
			</ol>
		  </nav>
		</div>
		
	
		<div class="container">
			<!-- REPORT PRINCIPALE -->
			<th:block th:if="${validationModel ne null}">
				<th:block th:switch="${validationModel.withErrors}">
				   <!-- PAGINAZIONE { -->
				   <div th:if="${#lists.size(validationModel.children) > 0 || validationModel.parent != null}" class="container text-center">
		   			   <a id="navprev" th:href="@{/validation/nav/prev}"
							th:class="${validationModel.parent != null} ? 'bnt active' : 'btn disabled'">
							&lt;&lt; Precedente </a>
						<a id="navnext" th:href="@{/validation/nav/next}"
							th:class="${#lists.size(validationModel.children) > 0} ? 'bnt active' : 'btn disabled'">
							Sucessiva &gt;&gt; </a>
						<h5>Pagina <span th:text="${validationResultPaginator.curPage}" /> di <span th:text="${validationResultPaginator.nrResult}" style="font-weight: bold"/> </h5>
				   </div>
					<!-- } -->
					<th:block th:case="false">
						<div
							th:replace="~{fragments/validation_detail.html :: reportlayer (validationModel = ${validationModel})}"></div>
					</th:block>
					<!-- ERRORI -->
					<th:block th:case="*">
						<div class="alert alert-warning">
							<h4>
								<span class="fa fa-warning-sign fa-sm"></span>
								Attenzione!
							</h4>
							<p>Si è verificato un problema durante la validazione del
								file.</p>
						</div>
					</th:block>
				</th:block>
			</th:block>
		</div>
	
		<!-- Custom DSS script -->
		<script th:src="@{/js/dss.js}"></script>
		
		<div class="container">
			<div th:replace="~{fragments/template.html :: info}"></div>
			<div th:replace="~{fragments/template.html :: footer}"></div>
		</div>
</body>
</html>